body {
    overflow: hidden;
}

.first_half {
    height: 24em;
    background-color: #B2ADAD;
    padding: 0;
}

p.email_instd {
    color: #4F4949;
    font-size: 1.3em;
    font-weight: bold;
}

.frst_tb{
    margin-top: 1em;
}
span.glyphicon.glyphicon-comment.main_cht.nav_icons {
    color: white;
    position: relative;
    left: 0px;
    top: 2px;
}


/*------------------------For Nav tab------------------------------------*/


/*body {
  padding : 10px ;
  
}
*/

#exTab1 .tab-content {
    color: white;
    background-color: #DFDFDF;
    padding: 5px 15px;
    /*border: 1px solid black;*/
    padding: 0;
}

#exTab2 h3 {
    color: black;
    background-color: #428bca;
    padding: 5px 15px;
}


/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}


/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab1 .nav-pills > li > a:hover{
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: transparent;
    color: black;
}

/*#exTab3 .tab-content {
  background-color: #DFDFDF;
  padding : 5px 15px;
}*/

.nav.nav-pills li {
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    transform: scaleY(-1);
    color: black;
    border-left: 1px solid #CFCCCC;
    position: relative;
    top: 2px;
    z-index: 0;
    height: 2.5em;
    border-radius: 0px 0px 10px 6px;
}

.nav.nav-pills li.active {
    z-index: 99;
}

.nav.nav-pills li.active:after {
    border-top-color: transparent;
    background-color: #DFDFDF;
}

li:after {
    background: #B2ADAD;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #CFCCCC;
    transform: scaleY(-1);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: 0;
    border-radius: 0px 0px 6px 6px;
}

#exTab1 .nav-pills > li > a {
    border-radius: 0;
    transform: scaleY(-1);
    z-index: 111;
}

.tab-content.clearfix {
    z-index: 9;
    position: relative;
}

span.nav_cons {
    position: relative;
    left: 1.2em;
    top: 3px;
}

span.nav_icons {
    color: #555252;
    position: relative;
    top: 7px;
    left: 10px;
}


/*-------------------------------------*/

div#exTab1 {
    position: relative;
    top: 19.2em;
    margin: 0;
    width: 105%;
}

.nav {
    margin-bottom: 1px;
    padding-left: 60.5%;
    list-style: none;
}

.nav>li>a {
    padding: 0px;
    color: black;
}


/*-------------------------------------button------------------------------------*/

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
}

.button {
    padding: 8px 16px;
    border: 2px solid none;
    border-radius: 5px;
    margin: 0;
    position: relative;
    display: inline-block;
    color: white;
}

.button.styl-material {
    -webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
    transition: 200ms background cubic-bezier(0.5, 0, 0.4, 1);
    background: #FCFCFC;
    color: grey;
}

.button.styl-material:focus {
    outline: none;
    background: #EB9A33;
    color: white;
}

.button.styl-material:hover {
    background-color: #22aae2;
    color: white;
}

.ripple-obj {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: #1c9cd1;
        border-radius: 5px;
}

.ripple-obj1 {
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: #1c9cd1;
        border-radius: 5px;
}
.ripple-obj4{
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    fill: #17CC65;
        border-radius: 5px;
}
button.styl-material.btn1 {
    /* color: rebeccapurple; */
    margin-left: 18%;
    margin-top: 2%;
}

button.styl-material.btn2 {
    /* color: rebeccapurple; */
    margin-left: 40%;
    margin-top: 2%;
}


/*------------------------------------Live Chat--------------------------------*/

p.frst_para_lft {
    color: #A39F9F;
    margin-top: 2em;
    font-size: 13px;
}

.frst_lft_row {
    margin-top: 6em;
}

.live_chat_box {
    border: 1px solid #2084BF;
    width: 76%;
    height: 20.2em;
    margin-top: .8em;
    border-radius: 7px;
    padding: 0;
    background-color: white;
}

p.liv_cht {
    border: 1px solid none;
    background: #1F9CE7;
    text-align: center;
    padding: 9px;
    border-radius: 4px 4px 0px 0px;
}

span.U_name {
    padding: 15px 20px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    color: black;
    font-weight: bold;
    background-color: skyblue;
    /*position: absolute;
    left: 2em;
    top: 4em;*/
}

p.nam_txt {
    color: #676464;
    /*font-size: 1.5em;*/
    font-weight: bold;
}

p.contnt_txt {
    color: #A9A7A7;
    position: relative;
    top: -3px;
    text-align: center;
}

.contnt_msg {
    padding: 0;
}

.nam_logo {
    position: relative;
    top: 5px;
    left: -9px;
}

span.ME_name {
    padding: 16px 16px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    color: black;
    font-weight: bold;
    background-color: rgba(240, 15, 15, 0.58);
    ;
}

.secnd_box {
    border-bottom: 1px dotted #CBC5C5;
    ;
    position: relative;
    top: -8px;
}

.scnd_ful_box {
    position: relative;
    top: 8px;
}

p.nam_txt1 {
    color: #676464;
    /*font-size: 1.5em;*/
    font-weight: bold;
    position: relative;
    left: 7em;
}

.liv_cht_fl {
    margin-top: 5px;
}

footer.live_chat_footer {
    border: 1px solid none;
    height: 3.3em;
    margin-top: -2.7%;
    background-color: #DFDFDF;
    border-radius: 0px 0px 7px 7px;
}

input.live_cht_comnt {
    position: relative;
    top: 9px;
    left: 11px;
    outline: none;
    box-shadow: 0px 0px 3px 0px #383131;
    /*border-radius: 5px;*/
}

.live_cht_comnt:focus {
    border-color: transparent;
}

button#js-ripple-btn1 {
    float: right;
    position: relative;
    top: -2.3em;
    left: -1em;
    padding: 5px 13px;
    background: #EB9A33;
    color: white;
}

button#js-ripple-btn1:hover {
    background-color: #1F9CE7;
}

span.mins {
    color: #D3D2D2;
    font-size: 12px;
}

p.contnt_txt1 {
    position: relative;
    left: 8px;
}

i.clk_mins {
    color: gray;
}

i.clk_mins1 {
    color: gray;
    position: relative;
    left: -3px;
}

.frst_rit_row {
    border-left: 1px solid #CBCBCB;
    position: relative;
    left: -20px;
    margin-bottom: 1em;
}

.frst_rit_row1 {
    position: relative;
    left: 2.3em;
}

.body_live_chat {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    top: -11px;
    height: 14.35em;
    left: 1px;
}

.dgh {
    position: relative;
    left: 4.4em;
}


/*::-webkit- scrollbar {
    width: 12px;
}
 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
} 

*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    /*background: red; */
    /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px black;
    background: #5E5959;
}


/*----------------------------------Second tab(FAQ)-----------------------------------*/

.search {
    position: relative;
    margin-left: 20%;
    margin-top: 1em;
}

.search input {
    text-indent: 30px;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 24px;
    font-size: 20px;
    color: #5E5E5E;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    z-index: 1;
}

input.faq_input {
    width: 80%;
    border-radius: 2em;
    box-shadow: 0px 0px 3px 1px #CCC8C8;
}

.scnd_lft_row {
    margin-left: 6em;
    margin-top: 5em;
}

i.foldr_icon {
    padding: 8px 8px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #22aae2;
    -webkit-box-shadow: 0px 0px 2px #22aae2;
    box-shadow: 0px 0px 2px #22aae2;
    color: #22aae2;
    font-weight: bold;
    margin-left: 7.5em;
    margin-top: 6px;
    /*background-color: skyblue;*/
}

p.icon_contnt {
    color: #22aae2;
    margin-top: 1em;
    position: relative;
    left: 4.5em;
}

p.reporting {
    position: relative;
    left: 6.6em;
}

.icons_bx {
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 1.3em;
}

.icns_bx1{
    margin-top: 6em;
}
a.linked_icon:hover {
    text-decoration: none;
}

a.linked_icon:focus {
    text-decoration: none;
}


/*
i.glyphicon.glyphicon-pushpin.foldr_icon{
    font-size: 1.9em;
}
*/

p.acnt_mngmnt {
    position: relative;
    left: 3.4em;
}

p.scnd_para_lft {
    margin-left: -5em;
    position: relative;
    left: 3em;
    top: 1em;
}

.secnd_bx1 {
    border-left: 1px solid #D3D3D3;
    position: relative;
    left: 7em;
}

.secnd_bx2 {
    position: relative;
    left: -5em;
    margin-bottom: 3.3em;
}

button#js-ripple-btn2 {
    margin-left: 2em;
    position: relative;
    top: 1em;
}

.hovr_efct:hover {
    background-color: #F4F4F4;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/


}

.scnd_ful_box1 {
    border-bottom: 1px dotted #CECCCC;
    position: re;
    top: 6.8em;
    position: relative
}


/*--------------------------Third tab------------------------------------*/

.alert.alert-success.fade.in {
    width: 100%;
    padding: 5px;
    margin-top: 1em;
    margin-left: -4em;
}

span.sucs_msg {
    padding-left: 2em;
}

input.mail_bx {
    /*background: #C7C5C5;*/
    width: 78%;
    margin-left: 2em;
    height: 2.3em;
    margin-top: -8px;
    box-shadow: 0px 0px 3px 1px #CCC8C8;
}

textarea#comment {
    margin-left: 2em;
    width: 78%;
    margin-top: 1.2em;
    box-shadow: 0px 0px 3px 0px #383131;
}

input.hlp {
    margin-top: 1.2em;
}

button#js-ripple-btn3 {
    float: right;
    /* margin-left: 0em; */
    position: relative;
    left: -8.5em;
    margin-top: 1.9em;
    margin-bottom: 2.3em;
    padding: 3px 8px;
    background: #22aae2;
    color: white;
    margin-bottom: 4em;
}

button#js-ripple-btn3:hover {
    background-color: rgba(24, 188, 57, 0.28);
}

.thrd_tab {
    border-left: 1px solid #C1C1C1;
    position: relative;
    left: -4.5em;
}

.alert-success {
    background-color: rgba(106, 255, 13, 0.1);
    border-color: rgba(106, 255, 13, 0.1);
    color: #46965F;
}

.close {
    color: #988E8E;
    text-decoration: none;
    opacity: 0.7;
}

.form-control:focus {
    border-color: transparent;
}

input.form-control.mail_bx.mail_bx1 {
    background-color: #CCCECF;
    border-color: transparent;
    color: #929597;
}


 /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

